{% extends "layout_main.html"%}
{% block content%}

<section>
    <div class="container is-centered">
        <form method="POST" action="/transactions_search">
            <div class="columns is-centered">
                    <div class="column is-one-third">
                    </div>
                    <div class="column ">
                        <p class="is-size-4"> From</p>
                    </div>
                    <div class="column">
                        <div class="control">
                            <input class="input is-danger" type="date" name="from_date">
                        </div>
                    </div>

                    <div class="column">
                    </div>
                    <div class="column">
                        <p class="is-size-4"> To</p>
                    </div>
                    <div class="column">
                        <div class="control">
                            <input class="input is-danger" type="date" name="to_date">
                        </div>
                    </div>
                    <div class="column">
                        <div class="control">
                            <button type="submit" class="button is-primary">
                                Search
                            </button>
                        </div>
                    </div>
                    <div class="column is-one-third">
                    </div>
            </div>
            </form>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="table-container ">
            <table class="table is-fullwidth">
                <thead>
              <tr>
              {% for col in columns %}
                  <th>{{ col.replace("_"," ").title() }}</th>
              {% endfor %}
              </tr>
                </thead>
                <tbody>
              {% for row in rows %}
              <tr>
                {% for col in columns %}
                  <td>{{ row[col] }}</td>
                {% endfor %}
                  <td>
                      <a class="button is-info is-small" href='{{"/transactions_view/{}".format(row["transaction_id"])}}'>detail</a>
                  </td>
                  <td>
                      <form method="POST" action="/transactions_delete" >
                        <input type="hidden" value="{{ row['transaction_id'] }}" name="deleteid"/>
                        <button class="button is-danger is-small">Delete</button>
                      </form>
                  </td>
              </tr>
              {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-one-fifth">
                <form method="POST" action="/transactions" >
                    <button type="submit" class="button is-primary">
                        Add Transaction
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>

</script>
{% endblock %}