<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elastic Beauties</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bulma.css') }}">
</head>

    <body>
            <nav class="navbar">
                <div class="container">
                        <div class="navbar-end">
                            <a href="{{ url_for('home') }}" class="navbar-item">
                                Home
                            </a>
                            <a href="{{ url_for('logout') }}" class="navbar-item">
                                Logout
                            </a>
                        </div>
                </div>
            </nav>
            <section>
                <div class="hero">
                  <div class="hero-body">
                    <div class="container has-text-centered">
                      <h1 class="title">
                          Elastic.Beauties
                      </h1>
                      <h2 class="subtitle">
                        eSystem for Inventory Applications
                      </h2>
                    </div>
                  </div>
                </div>
            </section>
            <section>
                <form method="POST" action="/transactions_input">
                 {% block content_transaction %}
                <div class="container">
                    <div class="columns">
                        <div class="column is-2"></div>
                        <div class="column">
                            <div class="container">
                                <table class="table">
                                <tr>
                                    <td>{% if data %}<label class="label">Transaction ID</label>{%endif%}</td>
                                    <td>{% if data %}<input class="input is-primary" type="text" name="transactionid" value="{{ data['data_trans']['transaction_id'] }}" readonly>{%endif%}</td>
                                    <td><label class="label">Shipping Cost</label></td>
                                    <td><input class="input" type="number" name="shippingcost"  value="{{ data['data_trans']['shipping_cost'] if data != None else 0 }}"></td>
                                </tr>
                                <tr>
                                    <td><label class="label">Date</label></td>
                                    <td><input class="input" type="text" name="date" value="{{ data['data_trans']['date'] if data != None else 'mm/dd/yyyy' }}"
                                               onfocus="(this.type='date')" onblur="(this.type='text')"></td>
                                    <td><label class="label">Packing Cost</label></td>
                                    <td><input class="input" type="number" name="packingcost" value="{{ data['data_trans']['packing_cost'] if data != None else 0 }}"></td>
                                </tr>
                                <tr>
                                    <td><label class="label">Total</label></td>
                                    <td><input class="input" type="number" name="total" value="{{ data['data_trans']['total'] if data != None else 0 }}"></td>
                                    <td><label class="label">Insurance</label></td>
                                    <td><input class="input" type="number" name="insurance" value="{{ data['data_trans']['insurance'] if data != None else 0 }}"></td>
                                </tr>
                                <tr>
                                    <td><label class="label">Buyer Name</label></td>
                                    <td><input class="input" type="text" name="buyername" value="{{ data['data_trans']['buyer_name'] if data != None else ''}}"></td>
                                    <td><label class="label">Free Shipping Admin</label></td>
                                    <td><input class="input" type="number" name="freeshippingadmin" value="{{ data['data_trans']['free_shipping_admin'] if data != None else 0 }}"></td>
                                </tr>
                                <tr>
                                    <td><label class="label">Via</label></td>
                                    <td><input class="input" type="text" name="via"  value="{{ data['data_trans']['via'] if data != None else '' }}"></td>
                                    <td><label class="label">PM/Star Admin</label></td>
                                    <td><input class="input" type="number" name="pmstaradmin" value="{{ data['data_trans']['pmstar_admin'] if data != None else 0 }}"></td>
                                </tr>
                                <tr>
                                    <td><label class="label">Payment Via</label></td>
                                    <td><input class="input" type="text" name="paymentvia" value="{{ data['data_trans']['payment_via'] if data != None else ''}}"></td>
                                    <td><label class="label">Gift Cost</label></td>
                                    <td><input class="input" type="number" name="giftcost" value="{{ data['data_trans']['gift_cost'] if data != None else 0 }}"></td>
                                </tr>
                                <tr>
                                    <td><label class="label">Transaction Type</label></td>
                                    <td><input class="input" type="text" name="transactiontype" value="{{ data['data_trans']['transaction_type'] if data != None else ''}}"></td>
                                    <td><label class="label">Total Profit</label></td>
                                    <td><input class="input" type="number" name="totalprofit" value="{{ data['data_trans']['total_profit'] if data != None else 0 }}"></td>
                                </tr>
                            </table>
                            </div>
                        </div>
                        <div class="column is-2"></div>
                    </div>
                    <br>
                    <div class="columns">
                        <div class="column is-2"></div>
                        <div class="column">
                            <div class="control">
                                <button type="submit" class="button is-primary  is-centered">{{ "Update" if data != None else "Add" }}</button>
                            </div>
                        </div>
                        <div class="column is-2"></div>
                    </div>
                </div>
                {% endblock %}
                </form>
            </section>
    </body>
</html>